<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <title>AutoFill</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css" integrity="sha256-/oZ7h/Jkj6AfibN/zTWrCoba0L+QhP9Tf/ZSgyZJCnY=" crossorigin="anonymous" />
<style>
    table * {
      font-size: 10px;
    }
    .imgur{
      height: 20px;
    }
    .spacial{
      height: 200px;
      overflow-y: scroll;
    }
    .small{
      font-size: 10px;
      color : rgb(168, 168, 168);
      margin: 0;
    }
  </style>
<body>
  <div class="container-fuild p-4" id="app">
    <div class="mb-1">
      <button v-on:click="initial()" class="btn btn-primary" data-step='1' data-intro='formun giriliceği siteyi yaz ve buna tıkla,site erişimi başarılı ile form testinden sonra açılan penceriyi kapat'>Site test <img class="imgur" src="png/005-link.png" ></button>
      <button v-on:click="getForm()" v-if="sitetest" class="btn btn-warning" data-step='3' data-intro='Formu tam gör ve kıyasla'>Form getir <img class="imgur" src="png/006-dark-web.png"></button>
      <button v-on:click="senderer()" v-if="sitetest && formtest && run && !start" class="btn btn-success" data-intro='Otomatik işlemi başlat'>Başlat <img class="imgur" src="png/003-multimedia.png"></button>
      <button v-on:click="stop()" v-if="sitetest && formtest && run && start" class="btn btn-danger">Durdur </button>
      <button v-on:click="emptyList()" v-if="sitetest && formtest && run && !start" class="btn btn-danger">Liste boşalt </button>
    </div>
    <div class="input-group mb-1" data-intro='site urlsini tam gir' data-step='2'>
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" >URL</span>
      </div>
      <input type="text" class="form-control" v-model="url" placeholder="Url">
    </div>
    <div class="input-group mb-1" v-if="sitetest"  data-step='4' data-intro='Sitede bulunun formun kronolojik sırası , bunu document.getElementbyTagName("form") ile kaç adet var görebilirsin'>
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Form sırası</span>
      </div>
      <input type="text" class="form-control" v-model="query" placeholder="0">
    </div>
    <div class="input-group mb-1" v-if="sitetest" data-step='5'  data-intro='başkangıç ve bitiş zamanını ayarla'>
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Zaman ayarı (dk)</span>
      </div>
      <input type="text" class="form-control" v-model="range.start" placeholder="min dakika">
      <input type="text" class="form-control" v-model="range.end" placeholder="max dakika">
    </div>
    <div class="card mb-1" v-if="formtest" data-step='6' data-intro='Form alanlarını incele bu alanlar csv ile 1 e 1 uyuşmalı'>
      <div class="card-body">
        <h6>Form alanları</h6>
        <div class="input-group mb-1" v-for="(item,index) in formSelector">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">{{item}}</span>
            </div>
            <input type="text" class="form-control" v-model="sender[item]" v-bind:placeholder="item">
          </div>
        <div >
        <p class="small">* Bu alanda gönderim yapmadan önce düzenleme yapabilirsiniz.</p>
        <p class="small">* Bu alandaki değerlerin etiketleri cvs kolon isimleri olmak zorunda</p>
      </div>
    </div>
    </div>

    <div class="card mb-1" v-if="sitetest && formtest "  data-step='7' data-intro='Dosya seç ve csv yükle'>
        <div class="card-body">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="validatedCustomFile" @change="loadTextFromFile">
                <label class="custom-file-label" for="validatedCustomFile">Dosya seçin           <img class="imgur" src="png/002-folder.png">
                </label>
              </div>
        </div>
        <button  data-intro='Sistemi durdur ve o anki hazır olanı sisteme entegre et, bunun için sayfanın açık olması gerekmektedir. eğer açık değil ise site test butonu ile açabilirsin' v-if="run && start"  v-on:click="manuelSend()" class="btn btn-info">Durur ve gönder (Auto : {{timer}}) <img class="imgur" src="png/004-tick.png"></button>

        <p class="text-center"  data-intro='Ekelenen bilgisi'>Toplam <b>{{datas.length}}</b> işlenen <b>{{order}}</b></p>
    </div>
    <div class="card spacial" v-if="sitetest && formtest " data-step='8'  data-intro='Havuz bilgisi içeriri, burdaki bilgiler sistem tarafından otomatik çekilip yüklenicektir'>
      

      <table class="table ">
        <thead>
          <tr>
            <th scope="col" v-for="head in header">{{head}}</th>
            <th>İslem</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in datas">
            <th scope="col" v-for="items in header">{{item[items]}}</th>
            <th><a v-on:click="fillSend(item)" data-intro='Hemen göndermek için buton, sitenin açık olamsı gerekir'>Gönder</a></th>
          </tr>
        </tbody>
      </table>
    </div>
    <a v-on:click="demo()"> Demo ile öğren </a>

  </div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha256-3blsJd4Hli/7wCQ+bmgXfOdK7p/ZUMtPXY08jmxSSgk=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-json-tree@0.4.1/dist/json-tree.js"></script>
<script src="https://unpkg.com/moment"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/papaparse@5.1.1/papaparse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.18/chance.min.js"></script>

<script src="app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js" integrity="sha256-fOPHmaamqkHPv4QYGxkiSKm7O/3GAJ4554pQXYleoLo=" crossorigin="anonymous"></script>


<script>

</script>
</html>
